<div class='container mt-big'>
  <div class="row">
    <div class="col inner-padding offset-md-3 col-6 align-self-center">
      <% @articles.each do |article| %>

        <%= link_to article, class: 'article-wrapper'  do %>
          <%= image_tag(article.image) %>
          <div class='article-content'>
            <h4 class="article-title"><%= article.title %></h4>
            <p class="article-description mt"><%= article.description %></p>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>
</div>