// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#thumbnail-wrapper {
  display: none;
}

.article-thumbnail {
  overflow: hidden;
  height: 300px;
  position: relative;
  img {
    width: 100%;
    position: absolute;
    top: -25%;
  }
}

.article-wrapper {
  margin-bottom: 40px;
  display: block;
  position: relative;

  .article-top {
    display: flex;
    position: absolute;
    top: 10px;
    left: 0;
    padding: 0 10px;
    align-items: center;
    width: 100%;
  }

  .article-author {
    color: gray;
    font-size: 12px;
    margin-right: auto;
  }

  .article-category {

  }

  .article-content {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
  }

  .article-title {
    font-weight: bold;
    color: #000;
  }

  .article-description {
    color: #474747;
  }
  img  {
    width: 100%;
  }
}